<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Rotten potatoes : reviews de jeux vidéos par la communauté pour la communauté</title>
    <link rel="stylesheet" href="RottenPotatoAccueil.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap" rel="stylesheet">
    <meta name="description" content="Rotten potatoes, site communautaire de notation et de review de jeux vidéos, venez vous tenir au courant des dernières actus et partager votre avis !">
</head>
<body>
    <header id="mainHeader">
        <h1>Rotten Potatoes</h1>
        <input id="search" type="search" placeholder="Rechercher un jeu, un studio...">
        <nav id="menu">
            <ul>
                <!--<li><a href="./CreerCompte.html">Créer un compte</a></li>-->
                <li id="creaCpt">Créer un compte</li>
                <li>Se connecter</li>
                <li>Mon compte</li>
            </ul>
            <ul>
                <li><a href="./RottenPotatoAccueil.html">Actualités</a></li>
                <li>Jeux</li>
                <li>Studios</li>
                <li>Ma liste</li>
            </ul>
        </nav>
    </header>

    <!--iframe contenant la page de création de compte (inutile)-->
    <!--<iframe src="./CreerCompte.html" id="creaCompte"></iframe>-->
<!--Modale création de compte-->
    <div id="creaCompte" class="modal">
        <div>
            <header>
                <span id="close">&times;</span>
                <h3>S'inscrire sur Rotten Potatoes</h3>
            </header>

            <div>
                <form id="login" method="POST" action="">
                    <ul>
                        <li>
                            <label for="pseudo">Pseudo </label>
                            <input type="text" name="pseudo" maxlength="20" id="pseudo"/>
                        </li>
                        <li>
                            <label for="email">E-mail </label>
                            <input type="email" name="email" id="email"/>
                        </li>
                        <li>
                            <label for="mdp">Mot de passe </label>
                            <input type="password" name="mdp" minlength="8" maxlength="25" id="mdp"/>
                        </li>
                        <li>
                            <label for="confirmMdp">Confirmer le mot de passe </label>
                            <input type="password" name="confirmMdp" minlength="8" maxlength="25" id="confirmMdp"/>
                        </li>
                        <li>
                            <input type="checkbox" id="CondUtilisat">
                            <label for="CondUtilisat">Je souhaite m'inscrire à la newletter du site </label>
                        </li>
                    </ul>
                </form>
            </div>
            
            <footer>
                <input type="submit" name="Crea" value="Créer votre compte"> <!--vérifier si le fait qu'il soit en dehors du form ne pose pas de prob-->
                <p>Déjà un compte ?  Identifiez vous ici</p>
            </footer>
        </div>
    </div>

    <div id="Container">
        <div class="container">
            <div class="titre">
                <h2>Les nouvelles sorties</h2>
                <a href="">Tout voir</a>
            </div>
            <!--carousel nouvelle sorties-->
            <div class="carousel">
                <!--boutton précédent-->
                <div class="precedent" onclick="changeslide(-1)">&#10094;</div>
                <div class="slide">
                    <img class="cover" src="./image/ex nouv sortie.jpg">
                    <div class="note">
                        <img class="imgNote" src="./image/potatoe.png">
                        <p>note</p>
                    </div>
                    <a href="./Jeu.html">Sable</a>
                </div>

                <div class="slide">
                    <img class="cover" src="./image/Icarus.jpg">
                    <div class="note">
                        <img class="imgNote" src="./image/potatoe.png">
                        <p>note</p>
                    </div>
                    <a href="./Jeu.html">Icarus</a>
                </div>

                <div class="slide">
                    <img class="cover" src="./image/death stranding.jpg">
                    <div class="note">
                        <img class="imgNote" src="./image/potatoe.png">
                        <p>note</p>
                    </div>
                    <a href="./Jeu.html">Death Stranding</a>
                </div>

                <div class="slide">
                    <img class="cover" src="./image/Halo_Infinite.png">
                    <div class="note">
                        <img class="imgNote" src="./image/potatoe.png">
                        <p>note</p>
                    </div>
                    <a href="./Jeu.html">Halo infinite</a>
                </div>

                <div class="slide">
                    <img class="cover" src="./image/Solar_Ash.jpg">
                    <div class="note">
                        <img class="imgNote" src="./image/potatoe.png">
                        <p>note</p>
                    </div>
                    <a href="./Jeu.html">Solar ash</a>
                </div>

                <div class="slide">
                    <img class="cover" src="./image/The_Gunk.jpg">
                    <div class="note">
                        <img class="imgNote" src="./image/potatoe.png">
                        <p>note</p>
                    </div>
                    <a href="./Jeu.html">The Gunk</a>
                </div>

                <div class="slide">
                    <img class="cover" src="./image/Final_Fantasy_XIV_Endwalker.jpg">
                    <div class="note">
                        <img class="imgNote" src="./image/potatoe.png">
                        <p>note</p>
                    </div>
                    <a href="./Jeu.html">Final Fantasy XIV: Endwalker</a>
                </div>
                <!--boutton suivant-->
                <div class="suivant" onclick="changeslide(1)">&#10095;</div>
            </div>
        </div>
        <div class="container">
            <div class="titre">
                <h2>Prochainement</h2>
                <a href="">Tout voir</a>
            </div>
            <div class="carousel">
                <div>
                    <img class="cover" src="./image/ex proch.jpg">
                    <p class="date">28 Octobre 2021</p>
                    <a href="">Age of empire IV</a>
                </div>
            </div>
        </div>
        <div class="containerList">
            <div class="titre">
                <h2>Les plus populaires</h2>
                <a href="">Tout voir</a>
            </div>
            <ul>
                <li>
                    <p>lien jeu populaire</p>
                    <img class="imgNote" src="./image/potatoe.png">
                </li>
                <li>
                    <p>lien jeu populaire2</p>
                    <img class="imgNote" src="./image/potatoe.png">
                </li>
                <li>
                    <p>lien jeu populaire3</p>
                    <img class="imgNote" src="./image/potatoe.png">
                </li>
                <li>
                    <p>lien jeu populaire4</p>
                    <img class="imgNote" src="./image/potatoe.png">
                </li>
                <li>
                    <p>lien jeu populaire5</p>
                    <img class="imgNote" src="./image/potatoe.png">
                </li>
            </ul>
        </div>
    </div>
    <footer id="mainFooter">
        <div class="footer_block">
            <ul>
                <li>Aide</li>
                <li>À propos de rotten potatoes</li>
            </ul>
        </div>
        <div class="footer_block">
            <ul>
                <li>Contacts</li>
                <li>Gérer les cookies</li>
                <li>conditions d'utilisation</li>
            </ul>
        </div>
    </footer>

    <script src="./CreerCompte.js"></script>
    <script src="carousel.js"></script>
</body>
</html>