<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="studio.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Rotten Potatoes</h1>
        <input type="search" placeholder="Rechercher un jeu, un studio...">
        <nav id="menu">
            <ul>
                <li><a href="./CreerCompte.html">Créer un compte</a></li>
                <li>Se connecter</li>
                <li>Mon compte</li>
            </ul>
            <ul>
                <li><a href="./RottenPotatoAccueil.html">Actualités</a></li>
                <li>Jeux</li>
                <li>Studios</li>
                <li>Ma liste</li>
            </ul>
        </nav>
    </header>
    <div id="Container">
        <div class="containerList">
            <div class="titre">
                <h2>Les plus populaires</h2>
                <a href="">Tout voir</a>
            </div>
            <ul>
                <li>
                    <p>lien jeu populaire</p>
                    <img class="imgNote" src="./image/potatoe.png">
                </li>
                <li>
                    <p>lien jeu populaire2</p>
                    <img class="imgNote" src="./image/potatoe.png">
                </li>
                <li>
                    <p>lien jeu populaire3</p>
                    <img class="imgNote" src="./image/potatoe.png">
                </li>
                <li>
                    <p>lien jeu populaire4</p>
                    <img class="imgNote" src="./image/potatoe.png">
                </li>
                <li>
                    <p>lien jeu populaire5</p>
                    <img class="imgNote" src="./image/potatoe.png">
                </li>
            </ul>
        </div>
        <div class="studio">
            <div class="description">
                <img src="./image/Shedworks.png">
                <ul>
                    <li>Shedworks</li>
                    <!--
                    <li>date création</li>
                    <li>nombre de personnes</li>
                    <li>pays</li>
                    -->
                </ul>
            </div>
            <div class="jeux">
                <div class="jeu">
                    <h2>Jeux</h2>
                </div>
                <ul>
                    <li>
                        <a href="./Jeu.html">Sable</a>
                        <img class="imgNote" src="./image/potatoe.png">
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer_block">
            <ul>
                <li>Aide</li>
                <li>À propos de rotten potatoes</li>
            </ul>
        </div>
        <div class="footer_block">
            <ul>
                <li>Contacts</li>
                <li>Gérer les cookies</li>
                <li>conditions d'utilisation</li>
            </ul>
        </div>
    </footer>
</body>
</html>