#plateforme {
    display: block;
}

#plateforme1 {
    display: none;
}

#plateforme2 {
    display: none;
}

#plateforme3 {
    display: none;
}

#plateforme4 {
    display: none;
}

#plateforme5 {
    display: none;
}

#morePlateformes {
    display: block;
}

#morePlateformes1 {
    display: none;
}

#morePlateformes2 {
    display: none;
}

#morePlateformes3 {
    display: none;
}

#morePlateformes4 {
    display: none;
}

#morePlateformes5 {
    display: none;
}
