/*-------------------page mon compte------------------*/
#infos div {
    display: flex;
    height: 40px;
}

h2 {
    font-family: Neusa,Impact,Helvetica Neue,Arial,Sans-Serif;
    font-weight: 500;
    font-size: 1.25rem;
    padding-left: 9px;
    text-transform: uppercase;
    margin-bottom: 1em;
    margin-left: 15px;
}

h2:before {
    position: absolute;
    content: "";
    height: 1.2em;
    border-left: 5px solid rgb(146, 105, 17);
    margin: -1px 0 0 -9px;
}

#infos a {
    margin: 10px 15px 0 15px;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #e9e9ea;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 8%);
    font-family: "Libre Franklin";
    font-weight: bold;
}

#infos p{
    font-family: "Libre Franklin";
    padding-left: 15px;
}

#infos {
    height: 78%;
}
/*----------------modales modifications---------------*/

.btnModal {
    cursor: pointer;
}

.modalBackground {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(42, 44, 50, .75);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin: 0;
    display: none;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding-right: 20px;
    cursor: pointer;
}

.modaleModif {
    width: 45vh;
    border-radius: 6px;
    background-color: white;
    overflow-y: auto;
    box-sizing: border-box;
}

.modaleModif header {
    padding-top: 10px;
    text-align: center;
}

.modaleModif div {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.modaleModif h3, .modaleModif label {
    font-family: "Libre Franklin";
}

.modaleModif ul {
    list-style: none;
}

.modaleModif li {
    margin: 5px 0 10px 0;
}

.modaleModif input {
    font-size: 1.2em;
    padding: 1px 2px 1px 2px;
    font-family: "Libre Franklin";
}

.modaleModif form h3{
    color: rgb(128, 7, 7);
    text-align: center;
}
/*----------------------------ANIMATION-----------------------------*/
@keyframes slideTop {
    0% {
        transform:translateY(-100%);
    }
    100% {
        transform:translateY(0%);
    }
}

@keyframes slideOut {
    0% {
        transform:translateY(0%);
    }
    100% {
        transform:translateY(100%);
    }
}

@keyframes fadeIn {
    0% {
        background: rgba(0, 0, 0, .0);;
    }
    100% {
        background: rgba(42, 44, 50, .75);;
    }
}

@keyframes fadeOut {
    0% {
        background: rgba(42, 44, 50, .75);;
    }
    100% {
        background: rgba(0, 0, 0, .0);;
    }
}
/*------------------------------------------------------------------*/